body{
    overflow-x: hidden;
}
img {
position: relative;
width: 180px;
}
.Botao{
    position: relative;
    left: 110px;
    top: -20px;
    color: black;
    text-decoration: none;
}
.linha-preta {        
  height: 2px;         
  background-color: black;     
  position: relative;
  top: -10px;              
}
.Localizacao{
    position: relative;
    left: 510px;
    top: 100px;
      font-size: large;
}
.bairro-label{
    position: relative;
   top: 20px;
   display: block;
   left: 66px;
}
.bairro-input{
    position: relative;
    top: 40px;
    display: block;
    padding: 14px;
    width: 710px;
    right: 200px;
}
.rua-label{
    position: relative;
   top: 200px;
   display: block;
   left: 66px;
}
.rua-input{
    position: relative;
    top: 220px;
    display: block;
    padding: 14px;
    width: 710px;
    right: 200px;
}
.rua-label{
    position: relative;
   top: 200px;
   display: block;
   left: 66px;
}
.rua-input{
    position: relative;
    top: 220px;
    display: block;
    padding: 14px;
    width: 710px;
    right: 200px;
}
.numero-label{
    position: relative;
   top: 400px;
   display: block;
   left: 26px;
}
.numero-input{
    position: relative;
    top: 420px;
    display: block;
    padding: 14px;
    width: 710px;
    right: 200px;
}
.Obrigado{
    display: block;
    position: relative;
    margin-top: 540px;
    width: 290px;
    padding: 6px;
}
.direitos {
  background-color: #000000; 
  color: #ffffff;           
  text-align: center;       
  padding: 20px 0;           
  max-width: 100%;               
  font-family: Arial;
  position: relative;
  margin-top: 230px;
  height: 70px;
}
.direitos p {
  margin-top: 24px;
  right: 70px;
  position: relative;
}